#jinja2: trim_blocks: "true", lstrip_blocks: "false"
{% set num_nodes_local = num_nodes | int %}
<configuration>
 <property>
    <name>javax.jdo.option.ConnectionURL</name>
{%- if num_nodes_local > 2 | int %}
{{''}}
    <value>jdbc:postgresql://{{hostvars[groups["hive"][0]].ansible_fqdn}}/{{ hive_database_name }}</value>
{{''}}
{% else %}
{{''}}
    <value>jdbc:postgresql://localhost/{{ hive_database_name }}</value>
{{''}}
{%- endif %}
 </property>

{% if hive_with_postgresql %}
 <property>
     <name>javax.jdo.option.ConnectionDriverName</name>
     <value>org.postgresql.Driver</value>
 </property>

 <property>
     <name>javax.jdo.option.ConnectionUserName</name>
     <value>{{ hive_user }}</value>
 </property>

 <property>
    <name>javax.jdo.option.ConnectionPassword</name>
    <value>{{ hive_password }}</value>
 </property>
{{''}}
{%- endif %}

 <property>
    <name>datanucleus.autoCreateSchema</name>
    <value>true</value>
 </property>

 <property>
    <name>hive.metastore.uris</name>
    {% if custom_ip_check %}
    {%- if num_nodes_local > 2 | int %}
    {{''}}
      <value>thrift://{{ hostvars[groups["hadoop_namenode"][0]].ansible_hostname }}:9083/</value>
    {{''}}
    {% else %}
    {{''}}
      <value>thrift://localhost:9083/</value>
    {{''}}
    {%- endif %}
    {%- endif %}
  </property>

 <property>
   <name>hive.metastore.schema.verification</name>
   <value>false</value>
 </property>

 <property>
   <name>hive.metastore.warehouse.dir</name>
   <value>/usr/hive/warehouse</value>
   <description>location of the warehouse directory</description>
 </property>

 <property>
      <name>hive.server2.enable.doAs</name>
      <value>false</value>
 </property>
</configuration>
