[Unit]
Description=Hive metastore
After=network.target
Requires=nodemanager.service
Requires=jobhistoryserver.service

[Service]
Type=forking
User=hadoop
Group=hadoop
PermissionsStartOnly=true
ExecStart=/bin/bash -c "source /etc/profile && nohup {{ hadoop_dir }}/{{ hive_expended_version }}/bin/hive --service metastore > {{ hadoop_dir }}/{{ hive_expended_version }}/log/metastore.log 2>&1 &"
ExecStartPost=/bin/bash -c "sleep 20 && ps -ef | grep -v grep | grep org.apache.hadoop.hive.metastore.HiveMetaStore | awk '{print $2}' | xargs  echo > {{ hadoop_dir }}/{{ hive_expended_version }}/metastore.pid"
PIDFile={{ hadoop_dir }}/{{ hive_expended_version }}/metastore.pid
ExecStopPost=/bin/bash -c "ps -ef | grep -v grep | grep org.apache.hive.service.server.HiveServer2 | awk '{print $2}' | xargs kill -9"
Restart={{ restart[0] }}
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
