check process hiveserver2 matching "org\.apache\.hive\.service\.server\.HiveServer2"
start program "/bin/systemctl start hiveserver2"
#stop program "/bin/systemctl stop hiveserver2"
depends on metastore, resourcemanager
