check process hiveserver2 with pidfile /opt/hadoop/apache-hive-1.2.1-bin/hiveserver2.pid
start program "/bin/bash /opt/hadoop/services/service-hadoop.sh start hiveserver"
stop program "/bin/bash /opt/hadoop/services/service.sh-hadoop stop hiveserver"
depends on namenode, datanode, resourcemanager, nodemanager, metastore
