check process metastore matching "org\.apache\.hadoop\.hive\.metastore\.HiveMetaStore"
start program "/bin/systemctl start metastore"
#stop program "/bin/systemctl start metastore"
depends on nodemanager
