#!/bin/bash
# Purpose: This script will start the Hive services


su - {{ hadoop_user }} -c "source /etc/profile && /bin/bash {{ hadoop_dir }}/{{ hive_expended_version }}/bin/hive --service metastore > {{ hive_log_dir }}/metastore.log 2>&1 &"
sleep 2s
