{%- for host in groups['all'] -%}{# Loop all hosts. Outer loop #}
{% for ip in hostvars[host]['ansible_all_ipv4_addresses'] %}{# Loop all private IP addreaa #}
{{ ip }}
{% endfor %}{# End of inner for loop #}
{%- endfor %}{# End of outer for loop #}
