check process spark-slave with pidfile {{ hadoop_dir }}/{{ spark_expended_version }}/spark-hadoop-org.apache.spark.deploy.worker.Worker-1.pid
start program "/bin/systemctl start spark-slaves"
stop program "/bin/systemctl stop spark-slaves"
