check process spark-master with pidfile /opt/hadoop/spark-1.6.0-bin-hadoop2.6/spark-hadoop-org.apache.spark.deploy.master.Master-1.pid
start program "/bin/bash /opt/hadoop/services/service-hadoop.sh start spark-master"
stop program "/bin/bash /opt/hadoop/services/service-hadoop.sh stop spark-master"
depends on namenode, datanode, resourcemanager, nodemanager, metastore, hiveserver2
