check process spark-historyserver matching "org\.apache\.spark\.deploy\.history\.HistoryServer"
start program "/bin/systemctl start spark-historyserver"
#stop program "/bin/systemctl stop spark-historyserver"
depends on spark-master
