check process spark-slave matching "org\.apache\.spark\.deploy\.worker\.Worker"
start program "/bin/systemctl start spark-slaves"
#stop program "/bin/systemctl stop spark-slaves"
depends on spark-master
