check process spark-master matching "org\.apache\.spark\.deploy\.master\.Master"
start program "/bin/systemctl start spark-master"
#stop program "/bin/systemctl stop spark-master"
depends on hiveserver2
