check process spark-historyserver with pidfile {{ hadoop_dir }}/{{ spark_expended_version }}/spark-hadoop-org.apache.spark.deploy.history.HistoryServer-1.pid
start program "/bin/systemctl start spark-historyserver"
stop program "/bin/systemctl stop spark-historyserver"
