#!/bin/bash
# Purpose: This script will start the Spark Master services


su - {{ hadoop_user }} -c "source /etc/profile && /bin/bash {{ hadoop_dir }}/{{ spark_expended_version }}/sbin/start-master.sh"
sleep 2s

