#jinja2: trim_blocks: "true", lstrip_blocks: "false"
{% set num_nodes_local = num_nodes | int %}

#!/bin/bash
# Purpose: This script will start the Spark slave services

{%- if num_nodes_local > 2 | int %}
su - {{ hadoop_user }} -c "source /etc/profile && /bin/bash {{ hadoop_dir }}/{{ spark_expended_version }}/sbin/start-slave.sh spark://{{ hostvars[groups['spark_master'][0]].ansible_fqdn }}:7077"
{{''}}
{% else %}
su - {{ hadoop_user }} -c "source /etc/profile && /bin/bash {{ hadoop_dir }}/{{ spark_expended_version }}/sbin/start-slave.sh spark://`hostname -f`:7077"
{{''}}
{%- endif %}
sleep 2s

