[Unit]
Description=Spark Worker
After=network.target
Requires=spark-master.service
Requires=spark-historyserver.service

[Service]
Type=forking
User=hadoop
Group=hadoop
PermissionsStartOnly=true
ExecStart=/bin/bash -c "source /etc/profile && {{ hadoop_dir }}/{{ spark_expended_version }}/sbin/start-slave.sh spark://`hostname -f`:7077"
PIDFile=/{{ hadoop_dir }}/{{ spark_expended_version }}/spark-hadoop-org.apache.spark.deploy.worker.Worker-1.pid
Restart={{ restart }}
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
