[Unit]
Description=Spark history server
After=network.target
Requires=spark-master.service

[Service]
Type=forking
User=hadoop
Group=hadoop
PermissionsStartOnly=true
ExecStart=/bin/bash -c "source /etc/profile && {{ hadoop_dir }}/{{ spark_expended_version }}/sbin/start-history-server.sh"
PIDFile={{ hadoop_dir }}/{{ spark_expended_version }}/spark-hadoop-org.apache.spark.deploy.history.HistoryServer-1.pid
Restart={{ restart[0] }}
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
