check process namenode with pidfile  {{ hadoop_dir }}/{{ hadoop_expended_version }}/hadoop-hadoop-namenode.pid
start program "/bin/systemctl start namenode"
stop program "/bin/systemctl stop namenode"
