check process secondarynamenode matching "org\.apache\.hadoop\.hdfs\.server\.namenode\.SecondaryNameNode"
start program "/bin/systemctl start secondarynamenode "
#stop program "/bin/systemctl stop secondarynamenode"

