check process jobhistoryserver with pidfile  /opt/hadoop/hadoop-2.7.2/mapred-hadoop-historyserver.pid
start program "/bin/bash /opt/hadoop/services/service-hadoop.sh start jobhistoryserver"
stop program "/bin/bash /opt/hadoop/services/service-hadoop.sh stop jobhistoryserver"
depends on namenode, datanode, resourcemanager, nodemanager
