check process resourcemanager with pidfile  {{ hadoop_dir }}/{{ hadoop_expended_version }}/yarn-hadoop-resourcemanager.pid
start program "systemctl start resourcemanager"
stop program "systemctl stop resourcemanager"

