check process jobhistoryserver matching "org\.apache\.hadoop\.mapreduce\.v2\.hs\.JobHistoryServer"
start program "/bin/systemctl start jobhistoryserver"
#stop program "/bin/systemctl stop jobhistoryserver"
depends on nodemanager

