check process nodemanager with pidfile  {{ hadoop_dir }}/{{ hadoop_expended_version }}/yarn-hadoop-nodemanager.pid
start program "systemctl start nodemanager"
stop program "systemctl stop nodemanager"
