check process namenode with pidfile  {{ hadoop_dir }}/{{ hadoop_expended_version }}/hadoop-hadoop-namenode.pid
start program "/bin/bash {{ hadoop_services_dir }}/service-hadoop.sh start namenode"
stop program "/bin/bash {{ hadoop_services_dir }}/service-hadoop.sh stop namenode"
