check process nodemanager with pidfile  {{ hadoop_dir }}/{{ hadoop_expended_version }}/yarn-hadoop-nodemanager.pid
start program "/bin/systemctl start nodemanager"
stop program "/bin/systemctl stop nodemanager"
