check process jobhistoryserver with pidfile  {{ hadoop_dir }}/{{ hadoop_expended_version }}/mapred-hadoop-historyserver.pid
start program "/bin/systemctl start jobhistoryserver"
stop program "/bin/systemctl stop jobhistoryserver"

