check process secondarynamenode with pidfile  {{ hadoop_dir }}/{{ hadoop_expended_version }}/hadoop-hadoop-secondarynamenode.pid
start program "systemctl start secondarynamenode "
stop program "systemctl stop secondarynamenode"

