check process namenode with pidfile  /opt/hadoop/hadoop-2.7.2/hadoop-hadoop-namenode.pid
start program "/bin/bash /opt/hadoop/services/service-hadoop.sh start namenode"
stop program "/bin/bash /opt/hadoop/services/service-hadoop.sh stop namenode"
