check process resourcemanager matching "org\.apache\.hadoop\.yarn\.server\.resourcemanager\.ResourceManager"
start program "/bin/systemctl start resourcemanager"
#stop program "/bin/systemctl stop resourcemanager"
depends on namenode, datanode

