#!/bin/bash
# file: service-datanode.sh
# Purpose: This script will start the Hadoop services

if [ -z "$1" ];  then
    ACTIVITY_TYPE=start
else
    ACTIVITY_TYPE=$1
fi

su - hadoop -c "hdfs dfsadmin -safemode leave"
sleep 1s
su - {{ hadoop_user }} -c "/bin/bash {{ hadoop_dir }}/{{ hadoop_expended_version }}/sbin/hadoop-daemon.sh --script hdfs $ACTIVITY_TYPE datanode"
sleep 2s
