#!/bin/bash
# file: service-resource-manager.sh
# Purpose: This script will start the Hadoop services


su - {{ hadoop_user }} -c "/bin/bash {{ hadoop_dir }}/{{ hadoop_expended_version }}/sbin/yarn-daemon.sh start resourcemanager"
sleep 2s
