#!/bin/bash
# file: service-mr-job-history.sh
# Purpose: This script will start the Mapreduce Job services

if [ -z "$1" ];  then
    ACTIVITY_TYPE=start
else
    ACTIVITY_TYPE=$1
fi

su - {{ hadoop_user }} -c "/bin/bash {{ hadoop_dir }}/{{ hadoop_expended_version }}/sbin/mr-jobhistory-daemon.sh $ACTIVITY_TYPE historyserver"
sleep 2s
