#!/bin/bash
# file: service-mr-job-history.sh
# Purpose: This script will start the Mapreduce Job services


su - {{ hadoop_user }} -c "/bin/bash {{ hadoop_dir }}/{{ hadoop_expended_version }}/sbin/mr-jobhistory-daemon.sh start historyserver"
sleep 2s
